@media (max-width: 450px) {
  html {
    font-size: 8px;
  }
}

.container {
  max-width: 28.125rem;
  margin: 10vh auto 0 auto;
  font-family: "Gill Sans", sans-serif;
  box-shadow: 0rem 0rem 2.688rem 1.063rem rgba(153, 153, 153, 1);
  border-radius: 1.25rem;
  background-color: black;
}

#display {
  color: white;
  text-align: right;
  height: 4.375rem;
  line-height: 4.375rem;
  padding: 1rem 0.5rem;
  font-size: 3.125rem;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0.625rem;
}

.buttons > div {
  margin: 0.313rem;
  border: 0.063rem;
}

.grey,
.orange,
.button {
  background-color: #36393e;
  color: white;
  border: 0.031rem solid #999;
  line-height: 6.25rem;
  text-align: center;
  font-size: 1.563rem;
  cursor: pointer;
  border-radius: 3.125rem;
}

.grey {
  background-color: rgb(167, 167, 167);
  color: black;
}

.orange {
  background-color: rgb(220, 141, 61);
}

.button {
  background-color: #36393e;
  color: white;
  border: 0.031rem solid #999;
  line-height: 6.25rem;
  text-align: center;
  cursor: pointer;
  border-radius: 3.125rem;
}

#equal {
  background-color: rgb(237, 154, 67);
  color: white;
}

.button:hover,
.grey:hover,
.orange:hover {
  background-color: whitesmoke;
  color: black;
  transition: ease-in-out;
}
