.container {
  max-width: 450px;
  margin: 10vh auto 0 auto;
  font-family: "Gill Sans", sans-serif;
  box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
  border-radius: 20px;
  background-color: black;
}

#display {
  color: white;
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 50px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
}

.buttons > div {
  margin: 5px;
  border: 1px;
}

.grey,
.orange,
.button {
  background-color: #36393e;
  color: white;
  border: 0.5px solid #999;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  border-radius: 50px;
}

.grey {
  background-color: rgb(167, 167, 167);
  color: black;
}

.orange {
  background-color: rgb(220, 141, 61);
}

.button {
  background-color: #36393e;
  color: white;
  border: 0.5px solid #999;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  border-radius: 50px;
}

#equal {
  background-color: rgb(237, 154, 67);
  color: white;
}

.button:hover,
.grey:hover,
.orange:hover {
  background-color: whitesmoke;
  color: black;
  transition: ease-in-out;
}
